<h1 style="margin-top: 0px; text-transform: lowercase">Welcome.</h1>

<p>This website contains the <a href="http://ankisrs.net" target="_blank">Anki flashcards</a> that I find useful.</p>

<p>Use the controls above to change decks, flip and deal cards, and control the timer.  Hovering over a card or the controls automatically pauses the timer.</p>

<% if back %>

<hr />

<p>The C-17 MQF deck will start automatically, or you can choose one from the deck list above.</p>

<ul id="seo-decklist">
  <% @decks.each do |d| %>
  <li><a href="/<%= d %>"><%= d %></a></li>
  <% end %>
</ul>

<% end %>
